# Byte-compiled / optimized / script files
*.pyc
__pycache__/
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
.venv/
venv/
build/
dist/
*.spec

# IDE / Editor specific files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Operating system files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Static analysis / testing
.ruff_cache/
.pytest_cache/
htmlcov/
coverage/

# Streamlit specific files
.streamlit/local_secrets.toml
